<%- include('../views/index'); %>

            <link rel="stylesheet" href="/stylesheets/confirmacaoCadastro.css">

            

            <section>
                <h3>CADASTRO EFETUADO COM SUCESSO</h3>
                <img src= <%=nomeImg%> alt="Imagem usuário Cadastrado">
                <p>Bem vindo <%=nomeUsuario%></p>
            </section>
            
        </main>
    <body>
</html>