<%- include('../views/index'); %>

            <link rel="stylesheet" href="/stylesheets/not-found.css">

            <section>
                <br>
                <h4> PÁGINA CONTATO</h4>
             
            <button class="button-7" role="button"><a href="/">Voltar</a></button>

            </section>
        </main>
    <body>
</html>