<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Middlewares</title>
</head>
<body>
    <main>
        <link rel="stylesheet" href="/stylesheets/header.css">
        <header>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/produtos">PRODUTOS</a></li>
                <li><a href="/contato">CONTATO</a></li>
                <li><a href="/minhaConta">MINHA CONTA</a></li>
                <li><a href="/cadastro">CADASTRO</a></li>
            </ul>
        </header>
        
