<%- include('../views/index'); %>

            <link rel="stylesheet" href="/stylesheets/not-found.css">

            <section>
                <img width="500" src="/images/pgnaoencontrada.png" alt="pagina nao encontrada">
             
            <button class="button-7" role="button"><a href="/">Voltar</a></button>

            </section>
        </main>
    <body>
</html>